<% include partials/header %>

<style>

</style>
<section>
    <div class="container">
        <% if(message) { %>
        <div class="alert alert-danger"><%=message%></div>
        <% } %>

        <div class="row">
            <div class="col-lg-8 text-center">
                <!--<img style="margin-bottom: 16px;" src="../assets/images/logo.png" width="80%" alt="">-->
            </div>

            <div class="col-lg-4">
                <h2>create event</h2>
                <div class="card text-center" style="padding: 16px;">
                    <form action="/admin/create-event" method="post" enctype="multipart/form-data">
                        <input type="text" name="title" placeholder="event name">
                        <button class="btn btn-dark">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<% include partials/footer %>
