<% include partials/header %>

<style>

    body{
        height: 100vh;
    }

    .card{
        padding: 24px;
        font-weight: 700;
        border-top: 4px solid #0F9D58;
        font-size: 1.2em;
        text-align: center;
        background: rgba( 15, 157, 88, 0.5 );
        color: #fff;
        border-radius: 6px;
        cursor: pointer;
        transition: 0.3s all ease;
    }

    .card:hover{
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16), 0px 6px 12px rgba(0, 0, 0, 0.23);
    }

    h4{
        text-align: center;
        border-bottom: 4px solid rgba( 100, 30, 22, 0.5 );
        border-radius: 4px;
        color: #fff;
        background: rgba(  100, 30, 22 , 0.5 );
        padding: 16px;
    }

    hr{
        background:  #ffffff;
        opacity: 0.8;
        margin-bottom: 2em;
    }

    .card-even{
        border-top: 4px solid rgb( 27, 79, 114 );
        background: rgba( 27, 79, 114, 0.5 );
    }

    a:hover{
        text-decoration: none;
    }
</style>

<div class="container">
    <h4 class="" style="font-weight: 700; margin-top: 16px; margin-bottom: 0;">
        <img class="logo-image" src="/assets/images/logo.png" alt="dsc-logo">
         Admin Dashboard
        <a href="/admin/signout" style="float: right; color: #fff; border: 2px solid #fff; font-weight: 700;" class="btn btn-outline-dark">Sign out</a>
    </h4>

    <hr>
    <div class="row">
        <a href="/admin/approveandroid" class="col-lg-3">
            <div class="card card-even">
                Android Workshop
            </div>
        </a>

        <a href="/cloud-study-jam/cloudjamlist" class="col-lg-3">
            <div class="card card-odd">
                Cloud Study Jam
            </div>
        </a>

        <a href="/admin/members" class="col-lg-3">
            <div class="card card-even">
                Community Members
            </div>
        </a>

        <div class="col-lg-3">
            <div class="card card-odd">
                Projects
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card card-even">
                Create Event
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card card-odd">
                Events
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>