<% include partials/header %>

<div class="container">
    <div class="col-lg-4">
        <div class="card">
            <div>
                <img class="logo-image" src="./assets/images/logo.png" alt="">
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>