body{
    font-family: "Quicksand";
    background: url("../images/bg.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.alert{
    font-weight: 700;
    border-radius: 0!important;
    border:0;
}

h2{
    color:#333;
    font-weight: 700;
}

.container .col-lg-4, .container .col-lg-8{
    top: 11vh;
    margin: 0 auto;
}

.card{
    margin-bottom: 16px;
    border-radius: 2px;
    border: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23)
}

.logo-image{
    width: 40px;
    /*padding: 16px;*/
    /*width: 100%;*/
    /*padding: 16px 96px;*/
}
form{
    margin: 16px auto;
}

form div {
    margin-bottom: 8px;
}

input {
    padding: 4px;
}

label{
    font-size: 14px;
    font-weight: 700;
    text-align: start;
    /*width: 40px;*/
}

button{
    /*margin: auto 16px;*/
    width: 70%;
}